# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

output/

##### Sharmbox Branch #####
# Local data
data/gravmag/kim/

# Local parameter files
parfiles/

# Reports
screencaps/
reports/

# Compiled altered tomofast binary
tomofast3D

# Original v1.1 tomofast-x binary
tomofast3D_original

# Other
temp_paraview/
